# Dependencies
node_modules/

# Build outputs
/build/
/.react-router/
*.tsbuildinfo

# Environment variables
.env
.dev.vars*

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dev-debug.log

# Cloudflare
.mf
.wrangler

# OS specific
.DS_Store

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Task files
# tasks.json
# tasks/